  <div class="row red-theme" id="main_content">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Doctors
                    </header>
                    <div class="panel-body">
                        <% if @clinics.count > 0%>
                        <div class="row new-div">
                            <div class="col-md-12">
                                <form class="form form-inline" role="form">
                                    <div class="form-group">
                                        <label for="doctorName">Doctor's UID<span class="required">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="doctor_uid" placeholder="UID">
                                    </div>
                                    <div class="form-group">
                                        <label for="clinicList">Clinic<span class="required">*</span>
                                        </label>
                                        <select id="clinics_list" class="form-control">
                                          <% @clinics.each do |clinic| %>
                                            <option value="<%= clinic.id %>" ><%=clinic.name%></option>
                                          <%end%>

                                        </select>
                                    </div>
                                    <a id="assign_doctor_btn" class="btn btn-default opaque-back">ADD DOCTOR TO CLINIC</a>
                                </form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success" style="display:none;">
                                            <button data-dismiss="alert" class="close close-sm" type="button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            <strong>Done!</strong>
                                            Doctor added successfully.
                                        </div>
                                        <div class="alert alert-danger" style="display:none;">
                                            <button data-dismiss="alert" class="close close-sm" type="button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            <strong>SORRY!</strong>
                                            This doctor is not registered.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%end%>
                        <div class="row new-div">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="doctors_table">
                                      <%@doctors.each do |doctor|%>
                                        <tr>
                                            <td><%= doctor.name %></td>
                                            <td>
                                                <a href="/doctors/<%=doctor.id%>/show" title="Details" role="button">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                                <a title="Edit" role="button">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </a>
                                                <!--a href="#" data-value1="<%= doctor.uid %>" data-value2="<%= @entity_type%>" data-value3="<%= @entity_id%>" class="delete-btn" data-target="#confirm_modal" data-toggle="modal" title="Delete" role="button">
                                                    <i class="fa fa-trash"></i>
                                                </a-->
                                            </td>
                                        </tr>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
