<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li id="dashboard_nav_elem" class="dashboard">
                <%= link_to ('<i class="fa fa-dashboard"></i>
              <span>Dashboard</span>').html_safe,$url_admin_dashboard %>
            </li>
            <li class="hospitals">
                <%= link_to ('<i class="fa fa-h-square"></i>
              <span>Hospitals</span>').html_safe,$url_hospitals %>
            </li>

            <li class="clinics">
                <%= link_to ('<i class="fa fa-hospital-o"></i>
              <span>Clinics</span>').html_safe,$url_clinics %>
            </li>

            <li class="doctors">
                <%= link_to ('<i class="fa fa-user-md"></i>
              <span>Doctors</span>').html_safe,$url_doctors %>
            </li>

            <li class="appointments">
                <%= link_to ('<i class="fa fa-calendar"></i>
              <span>Appointments</span>').html_safe,$url_appointments %>
            </li>

            <li class="announcements">
                <%= link_to ('<i class="fa fa-bullhorn"></i>
              <span>Announcements</span>').html_safe,$url_announcements %>
            </li>

            <li class="users">
                <%= link_to ('<i class="fa fa-users"></i>
              <span>Users</span>').html_safe,$url_users %>
            </li>

            <li class="insurance">
                <%= link_to ('<i class="fa fa-heartbeat"></i>
              <span>Insurance Companies</span>').html_safe,$url_insurance %>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
