<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li id="dashboard_nav_elem">
                <%= link_to ('<i class="fa fa-dashboard"></i>
              <span>Dashboard</span>').html_safe,$url_hospitals %>
            </li>
            <li>
                <%= link_to ('<i class="fa fa-h-square"></i>
              <span>Hospitals</span>').html_safe,$url_hospitals %>
            </li>

            <li>
                <%= link_to ('<i class="fa fa-hospital-o"></i>
              <span>Clinics</span>').html_safe,$url_clinics %>
            </li>

            <li>
                <%= link_to ('<i class="fa fa-user-md"></i>
              <span>Doctors</span>').html_safe,$url_doctors %>
            </li>

            <li>
                <%= link_to ('<i class="fa fa-calendar"></i>
              <span>Appointments</span>').html_safe,$url_appointments %>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
