<html>
	<head>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta name="description" content="Welcome to Appointik App">
		<meta name="keywords" content="Appointik, Admin, doctor, hospital, clinic">
		<title>Appointik</title>
		<%= favicon_link_tag 'logo.png' %>
		<link href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css' rel='stylesheet'>
		<link href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' rel='stylesheet'>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet'>
		<%= stylesheet_link_tag 'web/bootstrap' %>
		<%= stylesheet_link_tag 'web/style' %>
		<%= stylesheet_link_tag 'web/custom-style' %>
	</head>

	<body id="login-body">

		<div id="login-wrapper">
			<%= yield %>
		</div>

		<!--<div class="footer-main">
		Copyright &copy Director, 2014
		</div>-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
		<%= javascript_include_tag 'web/jquery.validate' %>
		<%= javascript_include_tag 'web/bootstrap' %>
		<%= javascript_include_tag 'web/app' %>
		<%= javascript_include_tag 'web/script' %>

	</body>
</html>
