<div class="row blue-theme" id="main_content">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Appointments
                    </header>
                    <input id="hidden" type="hidden" value="<%=@clinic_id%>">
                    <div class="panel-body custom-tabs">
                      <div class="row new-div">
                          <div class="col-md-12 heading-btn">
                              <%= link_to "Add New Appointment","/appointments/new",:class => "btn btn-default opaque-back" %>
                          </div>
                      </div>
                        <div class="row new-div">
                            <div class="col-md-12">
                                <form class="form form-inline" role="form">
                                    <div class="form-group">
                                        <label for="app_date">Date
                                        </label>
                                        <input type="text" class="form-control app_date" id="app_date">
                                    </div>
                                    <div class="form-group">
                                        <label for="docotrList">Doctor
                                        </label>
                                        <select id="doctors_list" class="form-control">
                                          <% @doctors.each do |doctor| %>
                                            <option value="<%= doctor.id %>" ><%= doctor.name %></option>
                                          <% end %>
                                        </select>
                                    </div>
                                    <a id="view_appointments" data-value="<%= @clinic_id %>" class="btn btn-default opaque-back">VIEW APPOINTMENTS</a>
                                </form>
                                <!--tab nav start-->
                                <section class="panel general">
                                    <header class="panel-heading">
                                        <ul class="nav nav-tabs">

                                            <li class="active">
                                                <a id="scheduled_li" data-toggle="tab" href="#confirmed">
                                                    <i class="fa fa-calendar-check-o"></i>Scheduled</a>
                                            </li>
                                            <li class="">
                                                <a data-toggle="tab" href="#checkedin">
                                                    <i class="fa fa-calendar-check-o"></i>Checked IN</a>
                                            </li>
                                            <li class="">
                                                <a data-toggle="tab" href="#canceled">
                                                    <i class="fa fa-calendar-times-o"></i>Canceled</a>
                                            </li>
                                            <li class="">
                                                <a data-toggle="tab" href="#missed">
                                                    <i class="fa fa-calendar-minus-o"></i>Missed</a>
                                            </li>
                                            <li  class="">
                                                <a id="past_li" data-toggle="tab" href="#past">
                                                    <i class="fa fa-calendar-minus-o"></i>Past</a>
                                            </li>

                                        </ul>
                                    </header>
                                    <div class="panel-body">
                                        <div class="tab-content">

                                          <div id="confirmed" class="tab-pane active">
                                              <table class="table table-hover">
                                                  <thead>
                                                      <tr>
                                                          <th>Name</th>
                                                          <th>Time</th>
                                                          <th class="action-header">Actions</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody id="appointments_confirmed">

                                                  </tbody>
                                              </table>
                                          </div>

                                          <div id="checkedin" class="tab-pane">
                                              <table class="table table-hover">
                                                  <thead>
                                                      <tr>
                                                          <th>Name</th>
                                                          <th>Time</th>
                                                          <th class="action-header">Actions</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody id="appointments_checkedin">
                                                  </tbody>
                                              </table>
                                          </div>


                                            <div id="canceled" class="tab-pane">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Time</th>
                                                            <th class="action-header">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="appointments_canceled">

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="missed" class="tab-pane">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Time</th>
                                                            <th class="action-header">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="appointments_missed">

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="past" class="tab-pane">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Time</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="appointments_past">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!--tab nav end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
